/* Escopo do ponteiro e animação */
.relogio .ponteiro {
  --pos: 0;

  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(calc(var(--pos) * 1deg));
  transform-origin: bottom;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.relogio .ponteiro.horas {
  background-color: black;
  box-shadow: 2px 2px 4px rgba(117, 117, 117, 0.473) inset;
  height: 20%;
  width: 10px;
  transition: 0.8s ease-in-out 0s;
}

.relogio .ponteiro.minutos {
  background-color: #000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473) inset;
  width: 7px;
  height: 35%;
  transition: 0.8s ease-in-out 0s;
}

.relogio .ponteiro.segundos {
  background-color: red;
  width: 3px;
  height: 40%;
}

.relogio::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
