@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  box-sizing: border-box;
}
/* Imagem de fundo */
body {
  background-color: #232323;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: #ffff;
}
/* Relogio branco */
.relogio {
  height: 500px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.562);
  position: relative;
  color: black;
  transition: 0.8s ease-in-out 0s;
}
/* Numeros do relogio */
.relogio .number {
  --pos: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
  transform: rotate(var(--pos));
  padding: 10px;
}
/* Posição de cada numero */
.relogio > .number.bar {
  font-size: 0.5rem;
  border-radius: 50%;
  border: 4px dotted rgba(109, 109, 109, 0.452);
  border-spacing: 100px;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}

.relogio .number.text1 {
  --pos: 30deg;
}
.relogio .number.text2 {
  --pos: 60deg;
}
.relogio .number.text3 {
  --pos: 90deg;
}
.relogio .number.text4 {
  --pos: 120deg;
}
.relogio .number.text5 {
  --pos: 150deg;
}
.relogio .number.text6 {
  --pos: 180deg;
}
.relogio .number.text7 {
  --pos: 210deg;
}
.relogio .number.text8 {
  --pos: 240deg;
}
.relogio .number.text9 {
  --pos: 270deg;
}
.relogio .number.text10 {
  --pos: 300deg;
}
.relogio .number.text11 {
  --pos: 330deg;
}

/* Relogio digital */

.relogio .digital-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digital {
  position: absolute;
  background-color: black;
  color: white;
  margin-top: 50%;
  padding: 0 3px;
  font-size: 1.5rem;
  width: 140px;
  text-align: center;
}

/* Tela de celular */
@media (max-width: 900px) {
  .relogio {
    height: 300px;
    width: 300px;
    font-size: 0.9rem;
  }

  .digital {
    font-size: 0.9rem;
    width: 80px;
  }
}
